#img {
    width: 10%;
    height: 30%;
}

#div1 {
    padding-top: 100px;
}

#bgc{
    background-image: linear-gradient(to right top, #2f337d, #973281, #dd4267, #fa7b3c, #ebbf12);
    background-attachment: fixed;
}

h1, h3 { 
    color: white;
}