body{
    background-image: linear-gradient(to right top, #e0007f, #bb3491, #934797, #6e5090, #52527f, #5b5480, #625781, #6a5982, #995b8c, #c95a82, #ec6266, #fa7b3c);
        background-size: 100% 230%;
        background-repeat: no-repeat;
}
#div1 {
    padding-top: 100px;
    /* background-color: #ff96ad; */
    background-image: linear-gradient(to right top, #2f337d, #973281, #dd4267, #fa7b3c, #ebbf12);

    width: 35%;
    margin: 30px auto;
    text-align: center;
    padding: 20px 0 0 0;
    border-radius: 4px;
    box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
    border: 2px solid black;
}

input {
  box-sizing: border-box;
  width: 70%;
  outline: none;
  height: 55px;
  line-height: 60px;
  border-radius: 4px;
  border-style: solid;
}

#submit {
    width: 17%;
    border: none;
}

#img { 
    width: 150px;
}